Options +FollowSymLinks -MultiViews
RewriteEngine on 

#RULES
RewriteRule ^auth$ app/AuthController.php
RewriteRule ^prods$ app/ProductsController.php
RewriteRule ^detalles/([0-9A-Za-z-]+)$ products/detalles.php?slug=$1
RewriteRule ^products$ products/index.php

